.navbar {
  margin-top: 0 !important;
}

.container-fluid {
  padding-top: 0 !important;
}

nav.navbar {
  background-color: $navbarColor !important;

  .navbar-brand,
  .nav-link {
    color: white !important;

    &:hover {
      opacity: 0.8;
    }
  }

  .dropdown-menu {
    background-color: $navbarColor;
    border: none;

    .dropdown-item {
      color: white;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
