.single-post-card {
    min-height: 135px;
    max-height: 135px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    color: black;
    padding: 10px;
    text-align: left;
    transition: border 0.1s, background 0.5s;
    margin: 5px; // 🔧 Μείωσε απόσταση μεταξύ cards
  
    .post-text {
      overflow: hidden;
      text-align: center;
    }
  
    a, a:active, a:hover {
      color: black;
    }
  
    &:hover {
      cursor: pointer;
      background: white;
      box-shadow: none;
      border-radius: 1%;
    }
  }
  
  .post-content {
    display: block;
  }
  
  .solid-color-mode {
    .post-text {
      background-color: inherit !important;
      padding: 10px;
      border-radius: 25px;
    }
  }
  
  .border-color-mode {
    background-color: inherit !important;
  }
  